/tmp
/app/styles/_glyphs.scss
/node_modules
/bower_components
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/dist
npm-debug.log
testem.log
.DS_Store
.idea/*
public/assets/visitor*
public/assets/widget.js
public/assets/visitor-glyphs.html
public/assets/fonts/visitor-glyphs*
visitor/build/*
visitor/babel/*
visitor/styles/_visitor-glyphs.scss
config/deploy*.js
config/production.js
config/staging.js
node_shrinkwrap
