<div class="seats">
	<button class="back" (click)="back($event)"> ← &nbsp;Back to Movie</button>
	<div class="seat-container">
		<div class="row" *ngFor="let row of rows;">
			<span class="column" *ngFor="let column of columns;">
				<app-seat [row]="row" [column]="column" [selectedSeat]="selectedSeat"></app-seat>
			</span>
		</div>
	</div>
	<p class="screen"> Screen</p>
</div>
<div class="info">
	<p>
		<b>Movie</b> : {{movie}}
	</p>
	<p>
		<b>Timings</b> : 7:30PM
	</p>
	<p>
		<b>Total Seats</b> : {{count ? count : '0'}}
	</p>
	<p>
		<b>Selected seats</b> : {{selectedSeats ? selectedSeats : '-'}}
	</p>
	<p *ngIf="count">
		<b>Total cost</b> : {{cost}}
	</p>
	<button class="book-now" (click)="bookNow($event)" [disabled]="!isActive"> Book now</button>
</div>
