.title, .movie-name{
	text-align: center;
	color: #656565
}
ul li{
	float: left;
	list-style: none;
	margin: 50px;
}
ul li a{
	text-decoration: none;
	color: #ffffff
}
.info{
	text-align: center;
    float: left;
    color: #656565
}