<h2 class="title"> Book your Tickets </h2>
<ul class="cards">
	<li class="cards_item" *ngFor="let movie of movies;">
		<a routerLink="/tickets" [queryParams]="{ movie: movie.name}">
			<div class="card">
				<div class="card_image">
					<img [src]="movie.image_path" height="168" width="300">
				</div>
				<div class="card_content">
				  <div class="card_title">{{movie.name}}</div>
				  <p class="card_text">{{movie.desc}} </p>
				  <button class="card_btn">Book now</button>
				</div>
			</div>
		</a>
		
	</li>
</ul>